/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 8, 2015, 12:32:47 AM
    Author     : frankent
*/
@import url('../font/supermarket/supermarket.css');

.supermarket{
    font-family: 'supermarketregular' , sans-serif;
}

.loginForm{
    width: 450px;
    margin: 80px auto 0;
}
